<h1>Latest Blog Posts</h1>
<% @posts.each do |post| %>
	<div class="card bg-light my-3">
        <div class="card-body">
            <h3><%= post.title %></h3>
            <p><%= post.body %></p>
            <%= link_to 'Read More', post_path(post), :class => 'btn btn-secondary' %>
        </div>
	</div>
<% end %>



